[Unit]
Description=robot-sport ROS2 system service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/ros/humble
Environment="ROS_LOCALHOST_ONLY=1"
ExecStart=/usr/lib/robot-sport/launch-robot-sport.sh
Restart=always
RestartSec=3
KillSignal=SIGINT
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
